
.slider{
  margin-top: 20px; /*Espacio entre img y menu de index*/
}

.txt-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
      justify-content: center;
          align-items: center;
  height: 100%;
}

.txt-slider h1 {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-top: 150px;
}

.txt-slider p {
  color: #E6E6E6;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 5px 0px;
}

.txt-slider {
  width: 100%;
  max-width: 1250px;
  margin: auto;
}

.txt-centro {
  margin-top: 50px;
  justify-content: flex-start;
  font-size: 32px;
  color: #133157;
}

#contact2 {
 margin-top: 25px;
}

#contact2 .card i{
  font-size: 50px;
  color: #54635e;
}

#contact2 .mb-4{
  margin-bottom: 20px !important;
}

#contact {
  padding-top:0px;
}

#contact2 .card-body, #contact2 .card{
  border-color: #ffffff00;
  padding: 0;
}

#contact2 .card h5{
  font-size: 18px;

}

#contact2 .card:hover{
  background: none;
  border-color: none;

}

#contact2 .mb-4 {
  margin-bottom: 0px !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #00000062;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.banner {
  background-image: url(../img/nosotros.jpg); /*img de html acerca de nosotros*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 0; /*height de la img de acerca de nosotros*/
  text-align: center;
  margin-top: 20px; /*espacio de la img de acerca de nosotros entre el menu y la img*/
}

.banner h2 {
  color: rgb(255, 255, 255);
  font-size: 80px; /*tamaño de del txt nosotros de la img*/
  font-weight: 700;/*grosor de la palabra nosotros de img*/
}

.banner2 {
  background-image: url(../img/servicios.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  text-align: center;
  margin-top: 20px;
}

.banner2 h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 500;
}

.tema-servicios { /*subtema de servicios*/
  color: hsl(212, 29%, 13%) ;
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
  margin-top: 30px;
}

.tipo-pal {
  color: #17202A ; /*lista de tipo de palapas en servicios*/
  font-size: 18px;
  font-weight: 180;
  margin-left: 90px;
  margin-top: 50px;
}

.texto-servicios { /*txt abjo de lista de servicios*/
  color: #17202A ;
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  margin-top: 30px;
}

#about a{
  background: #167557;
  border: 0;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

#about2{
  margin: 70px 0px 50px 0px;

}

#about2 h3{
font-weight: 600;

}

#services a{
  background: #167557;
	border: 0;
	border-radius: 20px;
	padding: 8px 30px;
	color: #fff;
	transition: 0.3s;
	border-radius: 5px;
	margin:5px auto 25px auto;
	display: inline-block;
  margin-top: 10px;
}

#services2 img.uno{ /*pagina de servicios, coloca texto a la derecha de la img*/
  float:left;
  margin-right: 15px;
  width: 20%;
  height: 2%;
  padding-top: 0px;
 
}

#services2 div.reset{
  clear: both;
}

.card-1 aside{
  text-align: justify;
  margin-top: 60px;
}

#services2 img.dos{
  float:left;
  margin-right: 15px;
  width: 20%;
  height: 10%;
  padding-top: 0px;
 
}

#services2 div.reset{
  clear: both;
}

#services2 img.tres{
  float:left;
  margin-right: 15px;
  width: 20%;
  height: 10%;
  padding-top: 0px;
 
}

#services2 div.reset{
  clear: both;
}

#services2 .card-1{
  border: 1px solid rgba(79, 77, 77, 0.364);
 }

#services2 .card-body h5{
  font-size: 15px;
  font-weight: 600;
 }

#services2 .card-body p{
  font-size: 14px;
 }
 
 #services2 a{
  background: #167557;
	border: 0;
	border-radius: 20px;
	padding: 8px 30px;
	color: #fff;
	transition: 0.3s;
	border-radius: 5px;
	display: inline-block;
 }
 
 .mb{
   margin-bottom: 50px;
 }

 .mb h3{
  font-weight: bold;
}

ul li{
  margin-bottom: 6px;
}

.h3{
  font-weight: bold;
  font-size: 18px;
}