
@import url(../css/superslides.css);

.cart-list h6 a:hover {
    color: #d33b33;
}

ul.cart-list p .price {
    font-weight: normal;
}

.col-menu .title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.hvr-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #d33b33;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
}

.hvr-hover:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    color: #ffffff;
}

.cart-box {
    margin-top: 40px;
    background: #ffffff;
}

.cover-slides {
    height: 50vh;
}

.slides-navigation a {
    position: absolute;
    top: 50%;
    display: block;
    color: #fff;
    line-height: 90px;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.slides-navigation a i { /*flechas de navegación*/
    font-size: 25px;
    background: #ebebeb;
    border-radius: 50%;
    padding: 7px 9px 7px 5px;
    display: none;
}

.cover-slides .container>.row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cover-slides .container>.row {
    height: 100%;
}

.overlay-background {  /* FONDO PARA LAS IMG PARA ATENUAR */
    background: rgba(0, 0, 0, 0.296);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .65;
}

.cover-slides p {
    font-size: 20px;
    max-width: 800px;
    margin-bottom: 0 !important;
}

.slides-pagination a {/*Botones*/
    border: 1px solid #0000004b;
}

.slides-pagination a.current {
    background: #0000004b;
    border: 1px solid #0000004b;
}

.cover-slides p a {
    color: #fff;
    background: #0000004b;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    appearance: none;
    border: 1px solid #00000000;
}

.cover-slides p a:hover {
    color: #fdfdfd;
    border: 2px solid #f8df00;
    background: none;
}